/* App.css */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.spinner {
    border: 16px solid #f3f3f3; /* Tailwind không có tiện ích cho kích thước border này */
    border-radius: 50%; /* Tailwind có `rounded-full` nhưng đây là giá trị chuẩn của CSS */
    border-top: 16px solid #eb0a1e; /* Tailwind không có tiện ích cho border-top này */
    width: 120px; /* Tailwind có tiện ích w-30 nhưng không có kích thước chính xác này */
    height: 120px; /* Tailwind có tiện ích h-30 nhưng không có kích thước chính xác này */
    animation: spin 2s linear infinite;
}

.loading-window {
    background: #333;
    border-radius: 6px;
    border: 3px solid #ffe4e1;
    color: #ffe4e1 !important;
    height: 200px;
    left: 50%;
    margin-left: -150px;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    width: 300px;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fadeIn, .loading-window {
    animation: fadeIn .4s both;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
