.button-navigation::after {
  font-size: 14px !important;
  font-weight: 800 !important;
}

.swiper-pagination-bullet {
  width: 20px !important;
  display: inline-block !important;
  border-radius: unset !important;
  margin: 0 !important;
  height: 2px !important;
  background: #ccc !important;
  opacity: 100 !important;
}

.swiper-pagination-bullet-active {
  height: 8px !important;
  background-color: #eb0a1e !important;
}

.tab-swiper > .swiper-pagination {
  position: absolute;
  bottom: -70px !important;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    height: 0;
    /* transform: translateY(-5%); */
  }
  100% {
    opacity: 1;
    height: max-content;
    /* transform: translateY(0); */
  }
}

@keyframes slide-up {
  0% {
    opacity: 1;
    height: max-content;
    /* transform: translateY(0); */
  }
  100% {
    opacity: 0;
    height: 0;
    /* transform: translateY(-100%); */
  }
}
